<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-5 col-md-4 col-12">
                        <div class="footer-logo">
                            <a href="/Store/Home/Index">
                                <img src="~/images/logo/white-logo.svg" alt="#" />
                            </a>
                        </div>
                    </div>
                    @*<div class="col-lg-7 col-md-8 col-12">
                        <div class="footer-newsletter">
                            <h4 class="title">
                                ISHOPPING
                                <span>Sự lựa chọn hoàn hảo cho mua sắm trực tuyến.</span>
                            </h4>
                        </div>aa
                    </div>*@
                    <div class="col-lg-9 col-md-8 col-12">
                        <div class="footer-newsletter">
                            <h4 class="title">
                                ISHOPPING
                                <span>Sự lựa chọn hoàn hảo cho mua sắm trực tuyến.</span>
                            </h4>
                            <div class="newsletter-form-head">
                                <form action="#"
                                      method="get"
                                      target="_blank"
                                      class="newsletter-form">
                                    <input name="hoadon_id"
                                           placeholder="Tìm kiếm hóa đơn của bạn" />
                                    <div class="button">
                                        <button class="btn">
                                            Tìm kiếm<span class="dir-part"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer f-contact">
                            <h3>Liên hệ với chúng tôi</h3>
                            <p class="phone" style="color:white;">
                                <i class="fa-solid fa-phone"></i> <a href="tel:0388544031" style="color:white" class="link-hover">+84 388544031</a>
                            </p>
                            
                            <p class="mail" style="color:white;">
                                <i class="fa-regular fa-envelope-open"></i>
                                <a href="mailto: anhB1910186@student.ctu.edu.vn" style="color:white" class="link-hover">
                                    <span class="__cf_email__"
                                          data-cfemail="6e1d1b1e1e011c1a2e1d06011e091c070a1d400d0103">anhB1910186@student.ctu.edu.vn</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Thông tin</h3>
                            <ul>
                                <li><a href="/Store/Home/pageNotFound">Giới thiệu</a></li>
                                <li><a href="/Store/Home/pageNotFound">Câu hỏi thường gặp</a></li>
                                <li><a href="/Store/Home/pageNotFound">Điều khoản</a></li>
                                <li><a href="/Store/Home/pageNotFound">Liên hệ</a></li>
                                <li><a href="/Store/Home/pageNotFound">Trợ giúp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Dịch vụ khách hàng</h3>
                            <ul>
                                <li>
                                    <a href="/Store/Home/pageNotFound">Phương thức thanh toán</a>
                                </li>
                                <li>
                                    <a href="/Store/Home/pageNotFound">Hoàn tiền</a>
                                </li>
                                <li>
                                    <a href="/Store/Home/pageNotFound">Đổi, trả hàng</a>
                                </li>
                                <li>
                                    <a href="/Store/Home/pageNotFound">Vận chuyển</a>
                                </li>
                                <li>
                                    <a href="/Store/Home/pageNotFound">Chính sách bảo hành</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <div class="payment-gateway">
                            <span>Chấp nhận thanh toán:</span>
                            <img src="~/images/footer/credit-cards-footer.png"
                                 alt="#" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="copyright">
                            <p>
                                Copyright &#169; <a href="https://github.com/HuynhAnhNguyen">Nguyen Huynh Anh B1910186</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <ul class="socila">
                            <li>
                                <span>Theo dõi chúng tôi trên:</span>
                            </li>
                            <li>
                                <a href="/Store/Home/pageNotFound">
                                    <i class="lni lni-facebook-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/Store/Home/pageNotFound">
                                    <i class="lni lni-twitter-original"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/Store/Home/pageNotFound">
                                    <i class="lni lni-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/Store/Home/pageNotFound">
                                    <i class="lni lni-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>